.play-audio__subtitle {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #1B191C;
  margin-top: 24px;
}

@media screen and (max-width: 1280px){
  .play-audio__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px){
  .play-audio__subtitle {
    margin-top: 40px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #1B191C;
  }
}




