.play-audio__subtitle {
  grid-row: 2/3;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.4px;

  color: #1B191C;
  margin-top: 24px;
}
