.how-it-works__scheme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 910px){
  .how-it-works__scheme  {
    justify-content: center;
  }
}
