.player-container {
  grid-row: 1/4;
  grid-column: 2/3;
  align-self: center;
}

@media screen and (max-width: 1024px){
  .player-container {
    grid-column: 1/2;
    grid-row: 2/3;
    transform: none;
    align-self: auto;
  }
}
