.how-it-works {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  gap: 36px;
  padding: 0 40px;
}

@media screen and (max-width: 1024px){
  .how-it-works  {
    margin-top: 100px;
  }
}

@media screen and (max-width: 910px){
  .how-it-works  {
    margin-top: 60px;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px){
  .how-it-works  {
    margin-top: 20px;
  }
}

@media screen and (max-width: 480px){
  .how-it-works  {
    margin-top: 0px;
    padding: 40px 12px 0 12px;
  }
}



