.modal {
  position: fixed;
  top: 20px;
  left: calc(50% - 618px/2);
  width: 618px;
  min-height: 73px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  border: 0.5px solid #E6E6E6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.attention {
  background-color: #F8D231;
  background-image: url("../../images/attention_sign.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.closeButton {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  transition: opacity .2s linear;
}

.closeButton:hover {
  opacity: .7;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.warning {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #1B191C;
}

.errorText {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: #1B191C;
}

@media screen and (max-width: 768px){
  .modal {
    width: 296px;
    left: calc(50% - 296px/2);
  }
}
