.how-it-works__subtitle {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  color: #EEEEEE;
}

@media screen and (max-width: 768px){
  .how-it-works__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px){
  .how-it-works__subtitle {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    color: #EEEEEE;
  }
}

